
/* Whole page layout */
.home {
    background-color: slategray;
    background-size: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

/* -------- */
/* SIDE BAR */
/* -------- */

/* find conversation input  */

/* genderal sidebar */
.leftSide {
    display: flex;
    min-height: 100vh;
    min-width: 20%;
    border-right:  black solid 1px;
    width: 30%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(102, 99, 99);
    justify-content: center;
}

.findConversation {
    display: flex;
}

.messageType {
    display:flex
}
.messages {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin:0;
    background-color: white;
}

.newConversationBtn {
    height: 3vh;
    width: 10vw;
}
/* friend list */
.friends {
    margin: 0;
    padding: 0;
}

.findConversation {
    width: 19vw;
    height: 4vh;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

/* buttons within sidebar */
.friend {
    display: block;
    width: 20vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background-color: rgb(179, 175, 175);
}

/* display convesation with myself */
.myself {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    height: 6vh;
    width: 20vw;
    position: fixed;
    bottom: 0;
    background-color: gray;
    margin-bottom: 15px;
}

/* ----------- */
/* MAIN SCREEN */
/* ----------- */

main {
    display: block;
    min-height: 100vh;
    min-width: 60%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(102, 99, 99);
}

/* HEADER*/
header {
    max-width: 100vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px;
}

.sender {
    font-weight: bolder;
}

 
.search { 
    margin: 10px;
    height: 4vh;
    background-color: gainsboro;
}


/* displaying messages */
.conversation {
    width: 75vw;
    max-width: 75vw;
    height: 84vh;
    overflow: scroll;
    margin-left: 5%;
}

.messageContent {
    word-wrap: break-word; 
    white-space: pre-wrap;
    width: 75vw;
    overflow: auto;

}

/* texting area */
textarea {
    min-width: 60%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    font-size: large;
    border-radius: 0;
    background-color: gainsboro;
}

#myBtn{
    width: 0;
    height: 0;
    display: none;
}



.receiver {
    padding: 2%;
    border: solid 0.5px;
    border: none
}




/* RIGHT SIDE BAR */
.rightSide {
    min-height: 100%;
    min-width: 20%;
}